.skill-pill {
    width: 80% !important;
    background-color: #F6F6F6 !important;
    border-radius: 999px !important;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08) !important;
    font-size: 11px !important;
    font-weight: 500 !important;
    color: black !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    border: none !important;
    white-space: nowrap !important;
    transition: background-color 0.2s ease-in-out !important;
    cursor: pointer !important;
}

.skill-pill:hover,
.skill-pill:active,
.skill-pill:focus,
.skill-pill.selected,
.skill-pill.selected:focus,
.skill-pill.selected:active,
.skill-pill.hovered {
    background-color: #B7BABC !important;
    color: black !important;
    border: none !important;
    box-shadow: none !important;
}

.delete-btn-req {
    font-size: 14px;
    padding: 4px 10px;
    height: 35px;
    min-width: 100px;
}

/* στρογγυλή μπάρα αναζήτησης */
.skill-selector-container input[type="text"],
input[type="text"].form-control {
    border-radius: 20px !important;
    padding: 10px 14px;
    font-size: 14px;
    border: 1px solid #ccc;
    outline: none;
    max-height: 30px !important;
}

.dropdown-suggestions {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 10;
    width: auto;
    min-width: 150px;
    max-width: 360px;
    max-height: 300px;
    overflow-y: auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    padding: 2px;
}

.dropdown-item-skill {
    padding: 6px 10px;
    cursor: pointer;
    font-size: 13px;
    border-bottom: 1px solid #eee;
}

.dropdown-item-skill:hover {
    background-color: #B7BABC;
}

.no-match {
    color: #888;
    font-style: italic;
    font-size: 12px;
    padding: 6px 10px;
}

.selected-skills-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 0;
}

.skill-badge {
    background-color: #F6F6F6 !important;
    padding: 4px 10px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    color: black;
    font-weight: normal !important;
    height: 26px;
}

.badge-close {
    color: black;
    margin-left: 10px;
    font-size: 14px;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}