.occupation-container {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100%;

}

.occupation-box {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    background-color: #E5E7EB;
    border-radius: 12px;
    padding: 5px;
    color: black;
    border: 0.5px solid #bbbbbb;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    margin-top: 15px;
    overflow-y: auto;
}

.occupation-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.occupation-btn {
    background-color: #F6F6F6 !important;
    color: black;
    font-weight: 500;
    border: none !important;
    border-radius: 8px !important;
    font-size: 14px;

}

.occupation-container>div:first-child {
    margin-top: 10px;
}



.occupation-btn:hover {
    background-color: #cfd1d2 !important;
}

.job-title-box {
    padding: 5px;
    background-color: #F6F6F6;
    border-radius: 12px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    color: black;
    margin-bottom: 5px;

}

.job-title-box>div:first-child {
    margin-top: 10px;
}

.job-title-item {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-top: 10px !important;
    margin-bottom: 5px;
    width: 100% !important;
    background-color: #e5e7eb !important;
    border-radius: 8px !important;
    font-size: 13px !important;
    color: black !important;
    border: none !important;
    box-shadow: 0 1px 3px rgb(0 0 0 / 32%);
}




.job-title-item:focus {
    background-color: #B7BABC !important;

}



.job-title-item:hover {
    background-color: #B7BABC !important;
}

.badge {
    color: black !important;
    background-color: #dfe1e3 !important;
}