body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.box-style {
  min-height: 300px;
  max-height: 300px;
  background-color: #E5E7EB;
  border-radius: 15px;
  border: 1px solid #bbbbbb;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}


.create-new-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}



.search-label {
  font-size: 11px;
  white-space: nowrap;
  font-weight: bold;
  padding-bottom: 30px;
  color: black;
}

.desc-label {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background-color: transparent;
  font-size: 16px;
  color: #000;
}


.desc-label:focus {
  border: none;
  outline: none;
}



.description-labels {
  font-size: 14px;
  white-space: nowrap;
  margin-bottom: 5px;
  color: black;
}

.active-label {
  font-size: 11px;
  white-space: nowrap;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

}


.custom-dropdown>.dropdown-toggle:focus,
.custom-dropdown>.dropdown-toggle {
  background-color: #F6F6F6 !important;
  color: black !important;
  border: hsl(0, 0%, 96%) !important;
  width: 225px !important;

}

.custom-dropdown>.dropdown-toggle:hover,
.custom-dropdown>.dropdown-toggle:active {
  color: black !important;
  background-color: #B7BABC !important;
  border: #B7BABC !important;
  width: 225px !important;

}

/* Dropdown items */
.custom-dropdown .dropdown-menu .dropdown-item {
  font-size: 14px;
  color: black;
  width: 225px !important;

}

.custom-dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #B7BABC;
  color: black;
  width: 225px !important;
}

.custom-dropdown {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.boxStyle {
  height: 300px;
  overflow-y: auto;
  background-color: #E5E7EB;
  border-radius: 15px;
  border: 1px solid #bbbbbb;
  padding-top: 20px;
  padding-left: 15px;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}